# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false

format = """
[](peach)\
$directory\
[](fg:peach bg:yellow)\
$git_branch\
$git_commit\
$git_status\
$git_metrics\
[](fg:yellow)
$character
"""

right_format = "$cmd_duration"

palette = "catppuccin_macchiato"

[directory]
style = "bg:peach fg:crust"
format = "[ $path ]($style)"
truncation_length = 5

[cmd_duration]
min_time = 0
show_milliseconds = true
format = "⏱️ $duration "

[git_branch]
symbol = ""
style = "bg:yellow"
format = '[[ $symbol $branch ](fg:crust bg:yellow)]($style)'

[git_commit]
only_detached = false
style = "bg:yellow fg:blue"
format = '[\($hash\) ]($style)'

[git_status]
style = "bg:yellow"
format = '[[($all_status$ahead_behind )](fg:crust bg:yellow)]($style)'

[git_metrics]
disabled = false
added_style = "bold fg:green bg:yellow"
deleted_style = "bold fg:red bg:yellow"
format = '[+$added ]($added_style)([-$deleted ]($deleted_style))'

[palettes.catppuccin_macchiato]
rosewater = "#f4dbd6"
flamingo = "#f0c6c6"
pink = "#f5bde6"
mauve = "#c6a0f6"
red = "#ed8796"
maroon = "#ee99a0"
peach = "#f5a97f"
yellow = "#eed49f"
green = "#a6da95"
teal = "#8bd5ca"
sky = "#91d7e3"
sapphire = "#7dc4e4"
blue = "#8aadf4"
lavender = "#b7bdf8"
text = "#cad3f5"
subtext1 = "#b8c0e0"
subtext0 = "#a5adcb"
overlay2 = "#939ab7"
overlay1 = "#8087a2"
overlay0 = "#6e738d"
surface2 = "#5b6078"
surface1 = "#494d64"
surface0 = "#363a4f"
base = "#24273a"
mantle = "#1e2030"
crust = "#181926"
